{% extends "NinjaLunchBundle::layout.base.twig" %}
{% block headline %}
Edit User
{% endblock %}
{% block content %}
<form action="{{ path('admin_user_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit" class="btn">Edit</button>
    </p>
</form>

<div class="record_actions btn-group">
    <a href="{{ path('admin_user') }}" class="btn">
        Back to the list
    </a>
</div>
{% endblock %}
{% block foot_script %}
{{ parent() }}
<script type="text/javascript">
(function($){
    $(document).ready(function(){
        new NinjaLunch.CollectionType($('#user_admin_roles_control_group'));;
    });
}(jQuery));
</script>
{% endblock %}
