{% if entity.id %}
    {% set formPath = path('order_items_update', { 'item': entity.id }) %}
{% else %}
    {% set formPath = path('order_items_create', { 'item': null }) %}
{% endif %}

<form action="{{ formPath }}" method="post" {{ form_enctype(form) }}>
    <div class="row-fluid">
        <div class="span6">
            {{ form_row(form.item) }}
        </div>
        <div class="span6">
            {{ form_row(form.comments, { attr: { class: 'span12', rows: 3 } }) }}
        </div>
    </div>
    {{ form_rest(form) }}
    <input type="submit" class="btn save" value="Save">
</form>
