{% set randId = app.request.get('modal_prefix', random()) %}
<table class="records_list table table-hover table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>For</th>
            <th>Comments</th>
            <th>Owing</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in paginator %}
    {% set modalId = 'addPayment'~randId~'Modal-' ~ entity.id %}
    <tr>
            <td>
                {% render "NinjaLunchBundle:FoodOrder/Payment:add" with
                    {
                        order: entity.order.id,
                        id: entity.id,
                        _format: 'modal',
                        modalId: modalId
                    },
                    { standalone: true }
                %}
                <a href="{{ path('order_items_show', { 'id': entity.id }) }}">
                    {{ entity.item.name }}
                </a>
            </td>
            <td>
                <a href="{{ path('user_profile', { username: entity.user }) }}">
                    {{ entity.user }}
                </a>
            </td>
            <td>
                {{ entity.comments }}
            </td>
            <td>
                $ {{ entity.amountOwing | number_format(2) }}
            </td>
            <td width="60px">
                <div class="btn-group pull-right">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-cog"></i>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                        <a href="{{ path('order_items_show', { 'id': entity.id }) }}">
                            <i class="icon-list"></i> View
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal"  href="#{{ modalId }}">

                            <i class="icon-pencil"></i> Update Payment
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('order_items_edit', { 'item': entity.id }) }}">
                            <i class="icon-pencil"></i> Edit
                        </a>
                    </li>
                  </ul>
                </div>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">No items have been added to this order</td>
        <tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                <div class="navigation pagination-centered">{{ paginator.render | raw }}</div>
            </td>
        </tr>
    </tfoot>
</table>
