{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="row-fluid">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
    <input class="span12" type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
    <input class="span12" type="password" id="password" name="_password" />

    <label for="remember_me" class="checkbox">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
    </label>

    <div class="btn-group">
        <input class="span6 btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />

        <a href="{{ path('fos_user_registration_register') }}" class="btn span6 pull-right">Register</a>
    </div>
</form>
{% endblock fos_user_content %}
